if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

watch_file gemset.nix

if ! use flake . --impure
then
  echo "nix environment could not be built. The nix environment was not loaded. Make the necessary changes to flake.nix and hit enter in your console to try again." >&2
fi

PATH_add bin
